.titre{

    color: #90949c;
    font-size: 15px;
    font-weight: 600;
    margin-left: -30%;
    margin-top: 0%;
}
body{
    display: flex;
    flex-direction: row;
    background-color: #e9ebee;
   

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 38px;
}
.contactsite{
    right: -30px;
    position: fixed;
}
.cover{
    height: 300px;
    width: 700px;
}

.SideB {
    margin-left: 80px;

}
.divS{
background-color: #fff;
max-width: 500px;
margin-left: 80px;

}